.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../img/bg-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include medium {
    background-image: url('../img/bg.jpg');
  }
}