.button {
  outline: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  text-decoration: none;
  display: inline-block;
  min-width: 8rem;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0.3rem;
  color: #fff;
  margin: 1.5rem 0.5rem 0.5rem 0.5rem;
  font-weight: bold;
  transition: all linear 0.2s;
  border: 1px solid #fff;
  border-radius: 3px;
  
  &:hover,
  &:focus {
    box-shadow: 0 0 10px #fff;
  }
}