html, body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #fff;
  margin: 0;
  padding: 0;
  background: #000;
  font-size: 16px;
  @include large {
    font-size: 20px;
  }
}

a {
  color: #fff;
  text-decoration: underline;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

h2,
h3,
h4 {
  font-weight: 300;
}

h2 {
  margin-bottom: 1rem;
}

h3 {
  margin-bottom: .1rem;
}

hr {
  border-top: 1px solid #fff;
  width: .4rem;
  margin: 2.25rem auto 1.5rem auto;
}